<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

#
In this notebook, Data Science Tools and Ecosystem are summarized.

#
Some of the popular languages that Data Scientists use are:
1. Python
2. R language
3. SQL
4. Java

#
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Metplotlib
4. Scikit- Leran


##

| Data Science Tool |
| -------------|
| Apache Spark |
| Tensor Flow |
| RStudio |
| Mongo DB |

###
Below are a few examples of evaluating arithmetic expressions in Python

# 
This a simple arithmetic expression to mutiply then add integers.

In [48]:
(3*4)+5

17

#
This will convert 200 minutes to hours by diving by 60.

In [52]:
 200 // 60

3

#
***Objectives:***

**List popular languages for Data Science:**

* Python
* R Language
* SQL
* Java
* Java Script
* Julia

##
Author:

Hemal P